services:
  postgres:
    image: postgres:16-alpine
    environment:
        POSTGRES_DB: mydb
        POSTGRES_USER: mongol
        POSTGRES_PASSWORD: mymongolpass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=mydb
      - DB_USER=mongol
      - DB_PASSWORD=mymongolpass
      - DB_HOST=postgres
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app
volumes:
  postgres_data:
